@import 'reset';
@import 'bootstrap-grid';


$ciano: cyan;
$rosa: hotpink;

$bicchiere: black;
$header-color: cyan;

$i: green;
$t: white;
$a: red;


body {
    background-color: darkblue;
    /* display: flex;
    min-height: 100vh;
    flex-direction: column; */
}

.container {
    min-height: 100vh;
}

header {
    /* flex: 1; */
    background-color: $header-color;
    /* display: block;
    width: 100%; */
}

main {
    /* flex: 4;
    display: flex; */
    background-color: $i;
}

footer {
    background-color: $t;
    /* flex: 1; */
}

.side {
    /* flex: 1; */
    background-color: $a;
}

.main {
    /* flex: 8; */
    background-color: darkred;
}

/* @media (max-width: 600px) {
    main {
        display: block;
    }
} */
